*.iml
.idea/
out
test
rebel.xml

# gradle
.gradle/
.build/
classes/
target/

# myeclipse

!WebRoot/WEB-INF/lib/*.jar
!src/main/webapp/WEB-INF/lib/*.jar
WebRoot/WEB-INF/classes/
.externalToolBuilders/
.settings/
.classpath
.project
